<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>
</head>


<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
        <% if (currentUser) { %>
            <div class="heading-bar">
                <h2 class="page-heading">
                    <% if (entries) { %>
                        MY WEEKLY TRACKER
                        <% } else { %>
                            ADD HABITS
                            <% } %>
                </h2>
                <form class="add-habit" action="/habits/new" method="GET">
                    <input type="image" alt="submit" src="/assets/plus-white.svg" />
                </form>
            </div>

            <ul>
                <% for (let i in habits ) { %>
                    <% if(i==0) { %>
                        <li class="days">
                            <a class="day-heading">HABITS</a>
                            <br/>
                            <div class="day-letter">S</div>
                            <div class="day-letter">M</div>
                            <div class="day-letter">T</div>
                            <div class="day-letter">W</div>
                            <div class="day-letter">T</div>
                            <div class="day-letter">F</div>
                            <div class="day-letter">S</div>
                        </li>
                        <% } %>

                            <li>
                                <a href="/habits/<%=habits[i]._id%>">
                                    <%= habits[i].name %>
                                </a>
                                <br />
                                <% for (let j=0; j<7; j++) { %>
                                    <form class="entries" action="/habits/<%= entries[i][j]._id %>/entry?_method=PATCH" method="POST">
                                        <input type="text" value="<%= entries[i][j].done %>" name="done" style="display:none">
                                        <input type="image" alt="submit" src="<% if(entries[i][j].done === true) { %>
                                            <% if (habits[i].color == 'green') { %>
                                                /assets/check-green.png
                                                <% } else if (habits[i].color == 'violet') { %>
                                                    /assets/check-violet.png 
                                                <% } else if (habits[i].color == 'cyan') { %>
                                                    /assets/check-cyan.png
                                                    <% } else if (habits[i].color == 'yellow') { %>
                                                        /assets/check-yellow.png
                                                    <% } else if (habits[i].color == 'orange') { %>
                                                        /assets/check-orange.png 
                                                <% } else { %> 
                                                    /assets/check.svg
                                                    <% } %>
                                                <% } else { %>
                                                    /assets/cross.svg" style="width:13px;opacity:0.1
                                    <% } %>" value="<%= entries[i][j].done %>" class="btn-small" />
                                    </form>
                                    <% } %>
                            </li>
                            <% } %>
            </ul>
            <% } else { %>
                <div class="catch-phrase">
                    BUILD <br /> BETTER <br /> HABITS
                </div>
                <% } %>

    </div>
</body>

</html>