<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>

<body>
    <p>
        <h1>
            Welcome to Reflekt Trackr
        </h1>
        <% if(currentUser) { %>
            <%= currentUser.username %>!
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Log Out" class="btn-small red" />
                </form>
                <a href="/habits/new">Add habit to track</a>
                <ul>
                    <% for (let i in habits ) { %>
                        <li>
                            <a href="/habits/<%=habits[i]._id%>">
                                <%= habits[i].name %>
                            </a>
                            <br />
                            <% for (let j in entries) { %>
                                <form action="/habits/<%= entries[i][j]._id %>/entry?_method=PATCH" method="POST">
                                    <input type="submit" value="Done?" class="btn-small" />
                                </form>
                                <% } %>
                                    <%= entries[i] %>
                        </li>
                        <% } %>
                </ul>

                <% } else { %>
                    <a href="/sessions/new">Log in</a>
                    <a href="/users/new">Sign up</a>

                    <% } %>
    </p>


</body>

</html>