<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
        <div class="heading-bar">
            <h2 class="page-heading">
                <%= habit.name.toUpperCase() %>
            </h2>
            <div class="icons">
                <form class="add-habit" action="/habits/<%= id %>/edit" method="GET">
                    <input id="edit" type="image" alt="submit" src="/assets/edit-white.svg" />
                </form>
                <%- include ('../partials/back.ejs') %>
            </div>
        </div>
        <ul>
            <li class="days">
                <a class="day-heading">
                </a>
                <br/>
                <div class="day-letter">S</div>
                <div class="day-letter">M</div>
                <div class="day-letter">T</div>
                <div class="day-letter">W</div>
                <div class="day-letter">T</div>
                <div class="day-letter">F</div>
                <div class="day-letter">S</div>
            </li>
        </ul>
        <ul class="cal-view">
            <% for (let i=0; i<entries.length/7; i++) { %>
                <li class="cal-rows">
                    <a class="cal-week-label">
                        Week <%= i+1 %>
                    </a>
                    <br />
                    <% for (let j=0; j<7; j++) { %>
                        <form class="entries" action="/habits/<%= entries[j + (7*i)]._id %>/entry?_method=PATCH" method="POST">
                            <input type="text" value="<%= entries[j + (7*i)].done %>" name="done" style="display:none">
                            <input type="text" value="true" name="redirectToShow" style="display:none">
                            <input type="text" value="<%= habit._id %>" name="habit_id" style="display:none">
                            <%if (entries[j + (7*i)].done === true) { %>
                                <input type="image" alt="submit" src="/assets/check-<%= habit.color %>.svg" />
                                <% } else { %> <input type="image" alt="submit" src="/assets/cross.svg" style="width:11px;padding:0 2px;opacity:0.1" />
                                    <% } %>
                        </form>
                        <% } %>
                </li>
                <% } %>

        </ul>
    </div>
</body>

</html>